.well
  .row
    = form_for estimate_food, remote: true do |f|
      .col-sm-6
        %h5
          %b= food_type.food_group.name + ":"
          %br/
          = link_to food_type.name, food_type, remote: true
          %small= "(" + estimate_food.total_kcal.round(2).to_s + " kcal)"
        %b Proteinas:
        =estimate_food.total_proteins.round(2)
        %small gr
        %br/
        %b Grasas:
        =estimate_food.total_fats.round(2)
        %small gr
        %br/
        %b Carbos:
        =estimate_food.total_carbs.round(2)
        %small gr
      .col-sm-6
        .row
          .col-xs-12
            = f.number_field :quantity, value: estimate_food.quantity.to_i, class: "form-control", min: 0.1, step: 0.01
          .col-xs-12
            = f.select(:meal_id, current_user.meals.all.collect {|a| [a.name, a.id]}, {}, {class: "form-control", :style => "margin-top: 15px;"})
            = f.hidden_field :food_type_id, value: food_type.id
        .row
          .col-xs-12.text-right
            .btn-group
              = f.submit "Editar", class: "btn btn-primary"
              = link_to "x", estimate_food, { data: { confirm: "Estas seguro que deseas eliminar '#{estimate_food.food_type.name}' de tu plan?" }, method: :delete, remote: true, class: "btn btn-danger", style: "margin-top: 15px;" }
