%p#notice= notice
%p
  %b Name:
  = @food_group.name
.well
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Tipo
          %th Kcal
          %th
            Prote
            %small gr
          %th
            Carbs
            %small gr
          %th
            Grasas
            %small gr
      %tbody
        - @food_group.food_types.each do |food_type|
          %tr
            %td
              = link_to food_type.name, food_type, remote: true
              = '(' + food_type.foods.count.to_s + ')'
            %td= food_type.kcal
            %td= food_type.proteins
            %td= food_type.carbs
            %td= food_type.fats
            %td= link_to 'Ver', food_type, remote: true, :class => 'btn btn-primary'
            -if current_user.admin?
              %td= link_to 'Editar', edit_food_type_path(food_type, :food => @food_group), :class => 'btn btn-warning'
              %td= link_to '×', food_type, method: :delete, data: { confirm: '¿Estas seguro que deseas eliminar este tipo de alimentos?' }, :class => 'btn btn-danger btn-xs'
= link_to 'Atras', food_groups_path, class: "btn btn-danger"
-if current_user.admin?
  = link_to 'Nuevo intercambio', new_food_type_path(:food => @food_group), class: "btn btn-success"
