%br/
%br/
%br/
%br/
.container
  .row
    .col-sm-4.col-sm-offset-4
      .panel.panel-default
        .panel-heading
          %panel-title ¿Olvidó su contraseña?
        .panel-body.text-center
          .col-sm-10.col-sm-offset-1
            = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
              = devise_error_messages!
              .field
                = f.label :email, "Correo:"
                %br/
                = f.email_field :email, autofocus: true, class: "form-control text-center", placeholder: "you@email.com"
              %br/
              .actions
                = f.submit "Enviar", class: "btn btn-primary"
                %br/
                %br/
                .text-right
                  = link_to "Atras", new_session_path(resource_name), class: "btn btn-danger text-right"
              %br/